@import "src/variables";
@import "src/_mixins";

.art-view-container {
  padding: 20px;
  @include flexbox-center-center;
  flex-direction: column;
}

.user-choices {
  @include flexbox-center-center;
}

.featured-art {
  max-width: 95%;
  max-height: 60vh;
  position: relative;
  text-align: center;
  color: $primary-color;
}

.ratings-choice {
  @include ratings-choice($secondary-color, $border-radius, $shadow)
}

.ratings-choice-dark {
  @include ratings-choice($secondary-color-dark, $border-radius, $shadow-dark)
}

.icon{
  filter:invert($invert-icon-amount);
}

.icon-dark{
  filter:invert($invert-icon-amount-dark);
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .featured-art {
    max-width: 95vw;
    max-height: 50vh;
  }
}