@import "src/variables";
@import "src/_mixins";

.main-page-container {
  padding: 20px;
}

.categories-container {
  @include flexbox-center-center;
  justify-content:space-around;
  flex-wrap: wrap;
  padding: 25px;
  margin: 0px;
}

.welcome-message {
  margin: 2% 0 0 0;
  text-align: center;
  font-size: 25px;
}

.title {
  font-size: 30px;
  margin: 20px;
}

.luck {
  margin: 20px 0px 0px 0px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .categories-container {
    padding: 15px;
  }
  .title {
    font-size: 20px;
  }
  .welcome-message {
    font-size: 15px;
  }
}
