.categories-container {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 25px;
}

.welcome-message {
  margin: 2% 0 2% 0;
  text-align: center;
  font-size: 30px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .categories-container {
    padding: 15px;
  }
}
