@import "src/variables";
@import "src/_mixins";

.error {
  @include flexbox-center-center;
  margin: 35px;
  height: 500px;
  flex-direction: column;
}

.error-message {
  height: 20px;
  margin: 20px;
}

.return-to-main {
  @include error-page($primary-color, $secondary-color, $border-radius, $shadow)
}

.return-to-main-dark {
  @include error-page($primary-color-dark, $secondary-color-dark, $border-radius, $shadow-dark)
}
