@import "src/variables";

.error {
  @include flexbox-center-center;
  margin: 35px;
  height: 500px;
  flex-direction: column;
}

.error-message {
  height: 20px;
  margin: 20px;
}

.return-to-main {
  background-color: $secondary-color;
  color: $primary-color;
  height: 36%;
  padding: 30px;
  margin: 25px;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: $shadow;
  cursor: pointer;
  text-decoration: none;
}

.return-to-main:hover,
.return-to-main:focus {
  background-color: red;
  transition: 0.2s;
}