@import "src/variables";

.category-card {
  @include flexbox-center-center;
  background-color: $secondary-color;
  text-decoration: none;
  color: $primary-color;
  height: 36%;
  width: 30%;
  padding: 30px;
  margin: 25px;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: $shadow;
  cursor: pointer;
}

.category-card:hover,
.category-card:focus {
  background-color: red;
  cursor: pointer;
  transition: 0.2s;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .category-card {
    width: 40%;
    padding: 20px 10px;
    margin: 10px 0px;
    font-weight: 800;
  }
}