.navigation-bar {
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 20px;
  border-bottom: 5px solid red;
  display: flex;
}

.title-link {
  text-decoration: none;
  display: flex;
}

.art-from-the {
  color: white;
}

.logo-accent {
  color: red;
}

.logo-icon {
  max-height: 60px;
  margin: 0px 15px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-bar {
    justify-content: center;
  }
}

