.navigation-bar {
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 20px;
  border-bottom: 5px solid red;
  display: flex;
}

.logo-accent {
  color: red;
}

@media screen and (min-device-width: 0px) and (max-device-width: 800px) {
  .navigation-bar {
    justify-content: center;
  }
}