@mixin flexbox-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin navigation-bar($primaryColor) {
  background-color: $primaryColor;
  color: $primaryColor;
  border-bottom: 5px solid red;
  display: flex;
}

@mixin behind-logo($primaryColor, $secondaryColor) {
  background-color: $secondaryColor;
  color: $primaryColor;
  font-size: 30px;
  padding: 20px;
  display: flex;
  width: 100%;
  max-width: 66%;
  margin: 0px;
}

@mixin angled-end($secondaryColor) {
  position: absolute;
  left: calc(66% + 40px);
  border-bottom: 110px solid transparent;
  border-left: 110px solid $secondaryColor;
  top: 0px;
  display: inline-block;
}

@mixin art-from-the($color) {
  color: $color;
}

@mixin category-card($primaryColor, $secondaryColor, $borderRadius, $shadow) {
  background-color: $secondaryColor;
  text-decoration: none;
  color: $primaryColor;
  height: 36%;
  width: 30%;
  padding: 30px;
  margin: 25px;
  border-radius: $borderRadius;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: $shadow;
  cursor: pointer;
  &:hover {
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
  }
  &:focus {
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
  }
}

@mixin ratings-choice($secondaryColor, $borderRadius, $shadow) {
  background-color: $secondaryColor;
  padding: 20px;
  border-radius: $borderRadius;
  margin: 20px;
  font-size: 50px;
  box-shadow: $shadow;
  display: flex;
  &:hover {
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
  }
  &:focus {
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
  }
}

@mixin art-details-container($artDetailsModalColor, $primaryColor, $borderRadius) {
  position: absolute;
  @include flexbox-center-center;
  flex-direction: column;
  justify-content:space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $artDetailsModalColor;
  padding: 20px;
  color: $primaryColor;
  border-radius: $borderRadius;
  width: 65%;
  height: 70%;
  margin-top: 5%;
  font-size: 30px;
  overflow-y: auto;
}

@mixin main-details($primaryColor, $secondaryColor, $borderRadius) {
  overflow-y: auto;
  width: 90%;
  background-color: $primaryColor;
  color: $secondaryColor;
  border-radius: $borderRadius;
  padding: 2%;
  font-size: 20px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .25);
}

@mixin main-details-buttons($primaryColor, $secondaryColor, $borderRadius, $shadow) {
  background-color: $secondaryColor;
  color: $primaryColor;
  width: 300px;
  padding: 30px;
  margin: 25px;
  border-radius: $borderRadius;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: $shadow;
  text-decoration: none;
  box-sizing: border-box;
  &:hover {
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
  }
  &:focus {
    background-color: red;
    cursor: pointer;
    transition: 0.2s;
  }
}

@mixin error-page($primaryColor, $secondaryColor, $borderRadius, $shadow) {
  background-color: $secondaryColor;
  color: $primaryColor;
  height: 36%;
  padding: 30px;
  margin: 25px;
  border-radius: $borderRadius;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: $shadow;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: red;
    transition: 0.2s;
  }
  &:focus {
    background-color: red;
    transition: 0.2s;
  }
}